<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <!-- Añade el CSS de Bootstrap desde un CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Añade el enlace a tu archivo CSS externo -->
    <link href="/css/estilos.css" rel="stylesheet">
</head>
<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/inicio">
            <img src="/images/Logo_PixelTech.jpg" alt="Logo PixelTech" width="60%" height="60%">
        </a>
    </nav>
    <!-- Contenido de la página -->
    <div class="container container-principal d-flex flex-column justify-content-center align-items-center text-center">
        <!-- Logo y texto de bienvenida -->
        <div class="row mb-4">
            <div class="col-12">
                <img src="/images/UFVHumanitaria.jpg" alt="Logo PixelTech">
                <h4>¡Bienvenido UFVHumanitaria!</h4>
                <p> Para gestionar la labor humanitaria entre Alemania y Nueva Zelanda PixelTech te ofrece la siguiente plataforma de gestión del stock.
                    Nuestra aplicación está diseñada para simplificar y optimizar este proceso, permitiéndote concentrarte en lo que realmente importa: ayudar a quienes más lo necesitan.
                    Juntos, podemos hacer una diferencia real en el mundo. ¡Comencemos!</p>
            </div>
        </div>

        <!-- Fila para las secciones Producto y Población -->
        <div class="row w-100 justify-content-around">
            <!-- Sección Producto -->
            <div class="col-12 col-lg-5 text-center mb-3 mb-lg-0">
                <h2>Producto</h2>
                <p>Introduce los productos recogidos en las distintas campañas para actualizar el stock.</p>
                <a href="/producto" class="btn" style="background-color:#298483; color:#fffefe;">Añadir Producto</a>
            </div>

            <!-- Sección Población -->
            <div class="col-12 col-lg-5 text-center">
                <h2>Población</h2>
                <p>Asigna y envía los productos que recibirán las familias interesadas según sus necesidades.</p>
                <a href="/poblacion" class="btn" style="background-color:#298483; color:#fffefe;">Enviar Recursos</a>
            </div>
        </div>
    </div>

    <!-- Pie de página -->
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
            <span class="text-muted">©PixelTech 2024</span>
        </div>
    </footer>


    <!-- Añade JavaScript de Bootstrap y dependencias desde un CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>