body, html {
    padding: 0;
    margin: 0;
    height: 100vh; /* altura completa del viewport */
    overflow: hidden; /* Previene cualquier desbordamiento */
    display: flex; /* Habilita flexbox para el body */
    flex-direction: column; /* Organiza los elementos secundarios en columna */
}

/* Asegúrate de que la altura del navbar está bien ajustada aquí */
.navbar {
    margin-bottom: 0; /* Elimina el margen por defecto */
    /* Ajusta la altura si tu navbar es más grande o pequeño que 56px */
    height: 56px; /* Altura del navbar */
}

.container-principal {
    flex-grow: 1; /* Permite que el contenedor crezca y llene el espacio disponible */
    display: flex; /* Habilita flexbox para este contenedor */
    flex-direction: column; /* Organiza los elementos secundarios en columna */
    justify-content: center; /* Centra el contenido a lo largo del eje principal */
    align-items: center; /* Centra el contenido a lo largo del eje cruzado */
    overflow: auto; /* Permite desplazamiento si es absolutamente necesario */
}